@using QRMENU.Models.Entity
@model List<Cafeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> <B>CAFELER</B> / CAFE LİSTESİ</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">CAFE LİSTESİ<a href="/Cafe/YeniCafe/" class="btn btn-primary float-right">Yeni Cafe Ekle</a></h6>

        </div>
        <div class="card-body">
            <asp:Repeater id="Repeater1" runat="server">
                <ItemTemplate>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>CAFE AD</th>
                                    <th>DURUM</th>
                                    <th>AYARLAR</th>
                                    <th>İŞLEM</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var cafe in Model)
                                {
                                    <tr>
                                        <td>@cafe.Ad</td>
                                        <td style="color: @(cafe.Durum.HasValue && cafe.Durum.Value ? "green" : "red")">
                                            @(cafe.Durum.HasValue ? (cafe.Durum.Value ? "AKTİF" : "PASİF") : "N/A")
                                        </td>
                                        <td>
                                            <a href="/Cafe/CafeSosyalMedya/@cafe.ID" class="btn btn-sm btn-success">SOSYAL MEDYA AYARLARI</a>
                                            <a href="/Cafe/CafeSaat/@cafe.ID" class="btn btn-sm btn-success">SAAT AYARLARI</a>
                                            <a href="/Cafe/CafeMenu/@cafe.ID" class="btn btn-sm btn-success">MENÜ AYARLARI</a>

                                        </td>
                                        <td>
                                            <a href="/Cafe/CafeSil/@cafe.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                                            <a href="/Cafe/CafeGetir/@cafe.ID" class="btn btn-primary">GÜNCELLE</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </ItemTemplate>
            </asp:Repeater>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
