@model QRMENU.Models.Entity.Cafeler
@{
    ViewBag.Title = "YeniCafe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">CAFELER / <small> CAFE EKLE</small></h1>

    </div>

    <form class="form-group" method="post">

        <hr />
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Cafe Ad:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Ad" placeholder="Cafe adı giriniz..." required="">
                <input type="hidden" class="form-control" name="Durum" value="true">

            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Cafe Slogan:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Slogan" placeholder="Cafe slogan giriniz..." required="">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Cafe Hakkında:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Hakkinda" placeholder="Cafe hakkında bilgi giriniz..." required="">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Cafe Adres:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Adres" placeholder="Adres giriniz..." required="">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Cafe Telefon:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Telefon" placeholder="+90 5xx xxxx" required="">
            </div>
        </div>
        <hr>
        <div class=" mt-4">
            <a href="/Cafe/Index/" class="btn btn-danger">VAZGEÇ</a>
            <button class="btn btn-primary">EKLE</button>
        </div>
    </form>

</div>
<!-- /.container-fluid -->
