@{
    ViewBag.Title = "About";
}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Açık Olduğumuz Günler</span>
                        <span class="section-heading-lower">We're Open</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazartesi
                            <span class="ms-auto">09:00 - 22:00 arası</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Salı
                            <span class="ms-auto">09:00 - 22:00 arası</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Çarşamba
                            <span class="ms-auto">09:00 - 22:00 arası</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Perşembe
                            <span class="ms-auto">09:00 - 22:00 arası</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cuma
                            <span class="ms-auto">09:00 - 22:00 arası</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cumartesi
                            <span class="ms-auto">09:00 - 22:00 arası</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazar
                            <span class="ms-auto">KAPALIYIZ</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>Marmara Teknokent</strong>
                            <br />
                            Kocaeli, Gebze
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Telefon:</em></small>
                        <br />
                        +90 5xx xx xx
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/QR_MENU/assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Cafe & Restorant Sloganı</span>
                            <span class="section-heading-lower">HAKKIMIZDA</span>
                        </h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium earum, tempore ab
                            ullam voluptatibus et rerum itaque esse odit quaerat?
                        </p>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, autem molestias? Nihil
                            aperiam tempora nesciunt placeat exercitationem, maxime quo magni!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


