@using QRMENU.Models.Entity
@model List<TBLDUKKAN>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var dukkan in Model)
{
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/QR_MENU/assets/img/intro.jpg" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">@dukkan.DUKKANSLOGAN</span>
                        <span class="section-heading-lower">@dukkan.DUKKANAD</span>
                    </h2>
                    <p class="mb-3">
                        @dukkan.DUKKANHAKKINDA
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="/Home/Product/">
                            MENÜYÜ
                            GÖRÜNTÜLE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Size Özel Haftalık </span>
                        <span class="section-heading-lower">Kampanya !</span>
                    </h2>
                    <p class="mb-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni debitis fuga
                        voluptatum explicabo neque odit ratione illum similique deleniti!
                    </p>
                    <div class="intro-button mx-auto mt-5">
                        <a class="btn btn-primary btn-xl"
                           href="products.html#tatlılar">HEMEN FİYAT GÖR</a>

                    </div>
                </div>
            </div>
        </div>
</section>
