
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h2>Ana Sayfa</h2>
 Hoşgeldin Süper Admin @ViewBag.adsoyad !
<br />
@ViewBag.mail ile giriş yaptınız...


