@model QRMENU.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">KATEGORİLER / <small> KATEGORİ GÜNCELLE</small></h1>

    </div>

    @using (Html.BeginForm("Guncelle","Kategori",FormMethod.Post))
    {
        <hr />
        <div class="form-group row">
            <label for="KATEGORIAD" class="col-sm-2 col-form-label">Kategori Ad:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
                @Html.HiddenFor(m => m.KATEGORIID, new { @class = "form-control" })
            </div>
        </div>
        <hr>
        <div class=" mt-4">
            <a href="/Kategori/Index/" class="btn btn-danger">VAZGEÇ</a>
            <button class="btn btn-primary">GÜNCELLE</button>
        </div>
    }
</div>
<!-- /.container-fluid -->
