
@using QRMENU.Models.Entity
@model List<Mesajlar>
@{
    ViewBag.Title = "GelenKutusu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> <B>MESAJLAR</B> / MESAJ LİSTESİ</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">MESAJ LİSTESİ<a href="/Admin/YeniMesaj/" class="btn btn-primary float-right">Yeni Mesaj Gönder</a></h6>

        </div>
        <div class="card-body">
            @if (Model != null && Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>GÖNDEREN</th>
                                <th>MESAJ</th>
                                <th>İŞLEM</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mesaj in Model)
                            {
                                <tr>
                                    <td>ADMİN</td>
                                    <td>@mesaj.Mesaj</td>
                                    <td>
                                        <a href="/Admin/MesajSil/@mesaj.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                                        <a href="/Admin/MesajGonder/@mesaj.ID" class="btn btn-primary">YANIT VER</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No messages available.</p>
            }
        </div>
    </div>
</div>
<!-- /.container-fluid -->
