
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">KATEGORİLER</h1>

    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">SİPARİŞ LİSTESİ</h6>
            <a href="#!" class="btn btn-primary float-right">Yeni Kategori Ekle</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>KATEGORİ</th>
                            <th>ÜRÜN SAYISI</th>
                            <th>İŞLEM</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                        <tr>
                            <td>TATLILAR</td>
                            <td>5</td>
                            <td> <a href="#!" class="btn btn-danger">SİL</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
