
@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">AYARLAR</h1>
    </div>


    <form>
        <h4 class=" mb-2 mt-5"> Kafe & Restorant Bilgileri </h4>

        <div class="form-group row">
            <label for="cafeisim" class="col-sm-2 col-form-label">Ad:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cafeisim"
                       placeholder="Bir ad giriniz...">
            </div>
        </div>

        <div class="form-group row">
            <label for="cafeslogan" class="col-sm-2 col-form-label">Slogan:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cafeisim"
                       placeholder="Bir slogan giriniz...">
            </div>
        </div>

        <div class="form-group row">
            <label for="hakkımızda" class="col-sm-2 col-form-label">Hakkında:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cafeisim"
                       placeholder="Kafe&Restorant hakkında bilgiler giriniz...">
            </div>
        </div>

        <!-- Adres -->
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Adres:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address"
                       placeholder="Bir adres giriniz...">
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Telefon:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" placeholder="+90 5xx xx xx">
            </div>
        </div>
        <div class=" mt-4">
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>
    </form>


    <hr>


    <form action="/" method="post">
        <h4 class=" mb-2 mt-5">Çalışma Saatleri Düzenleme</h4>

        <!-- Pazartesi -->
        <div class="form-group row">
            <label for="monday" class="col-sm-2 col-form-label">Pazartesi:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="monday" placeholder="09:00 - 22:00 arası">
            </div>
        </div>

        <!-- Salı -->
        <div class="form-group row">
            <label for="tuesday" class="col-sm-2 col-form-label">Salı:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="tuesday" placeholder="09:00 - 22:00 arası">
            </div>
        </div>

        <!-- Çarşamba -->
        <div class="form-group row">
            <label for="tuesday" class="col-sm-2 col-form-label">Çarşamba:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="wednesday"
                       placeholder="09:00 - 22:00 arası">
            </div>
        </div>

        <!-- Perşembe -->
        <div class="form-group row">
            <label for="tuesday" class="col-sm-2 col-form-label">Perşembe:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="thursday" placeholder="09:00 - 22:00 arası">
            </div>
        </div>

        <!-- Cuma -->
        <div class="form-group row">
            <label for="tuesday" class="col-sm-2 col-form-label">Cuma:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="friday" placeholder="09:00 - 22:00 arası">
            </div>
        </div>

        <!-- Cumartesi -->
        <div class="form-group row">
            <label for="tuesday" class="col-sm-2 col-form-label">Cumartesi:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="saturday" placeholder="09:00 - 22:00 arası">
            </div>
        </div>

        <!-- Pazar -->
        <div class="form-group row">
            <label for="tuesday" class="col-sm-2 col-form-label">Pazar:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sunday" placeholder="09:00 - 22:00 arası">
            </div>
        </div>

        <div class=" mt-4">
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>

    </form>


    <hr>


    <form action="/" method="post">

        <h4 class=" mb-2 mt-5">Sosyal Medya Hesap Linkleri</h4>

        <div class="form-group row">
            <label for="facebook" class="col-sm-2 col-form-label">Facebook:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="facebook"
                       placeholder="https://www.facebook.com/">
            </div>
        </div>
        <div class="form-group row">
            <label for="instagram" class="col-sm-2 col-form-label">Instagram:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="instagram"
                       placeholder="https://www.instagram.com/">
            </div>
        </div>
        <div class="form-group row">
            <label for="twitter" class="col-sm-2 col-form-label">Twitter:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="twitter"
                       placeholder="https://www.twitter.com/">
            </div>
        </div>
        <div class="form-group row">
            <label for="whatsapp" class="col-sm-2 col-form-label">Whatsapp:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="whatsapp"
                       placeholder="https://www.whatsapp.com/">
            </div>
        </div>

        <div class=" mt-4">
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>
        <hr>

    </form>


</div>
<!-- /.container-fluid -->
