@using QRMENU.Models.Entity
@model List<Kampanyalar>
@{
    ViewBag.Title = "Kampanyalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> <B>KAMPANYALAR</B> / KAMPANYA LİSTESİ</h1>
        <p>kampanya birden fazla ürüne verilebilir.</p>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Kampanya Listesi       <a href="/Kampanya/YeniKampanya/" class="btn btn-primary float-right">Yeni Kampanya Ekle</a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>KAMPANYA ADI</th>
                            <th>AÇIKLAMA</th>
                            <th>ÜRÜN SAYISI</th>
                            <th>DURUM</th>
                            <th>İŞLEM</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var kampanya in Model)
                        {
                            <tr>
                                <td>@kampanya.Baslik</td>
                                <td>@kampanya.Aciklama</td>

                                <td>
                                    10
                                </td>
                                <td>
                                    @if (@kampanya.Durum == true)
                                    {
                                        <span class="text-success">AKTİF</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">PASİF</span>
                                    }
                                </td>
                                <td>
                                    <a href="/Kampanya/KampanyaSil/@kampanya.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                                    <a href="/Kampanya/KampanyaGetir/@kampanya.ID" class="btn btn-primary">GÜNCELLE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
