@model QRMENU.Models.Entity.Kampanyalar
@{
    ViewBag.Title = "Kampanya";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">KAMPANYALAR / <small> KAMPANYA GÜNCELLE</small></h1>

    </div>

    @using (Html.BeginForm("Guncelle", "Kampanya", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID, new { @class = "form-control" })
        <hr />
        <div class="form-group row">
            <label for="KAMPANYAACIKLAMA" class="col-sm-2 col-form-label">Kampanya Açıklaması:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="URUNKATEGORI" class="col-sm-2 col-form-label">Kampanyalı Ürün:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.Urunler.ID, (List<SelectListItem>)ViewBag.urunler, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="KAMPANYASURESI" class="col-sm-2 col-form-label">Kampanya Durum:</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.Durum, new List<SelectListItem>
                {
                    new SelectListItem { Value = "1", Text = "AKTİF" },
                    new SelectListItem { Value = "2", Text = "PASİF" }
                }, "Lütfen durumu seçiniz", new { @class = "form-control" })
            </div>
        </div>

        <hr>
        <div class=" mt-4">
            <a href="/Kampanya/Index/" class="btn btn-danger">VAZGEÇ</a>
            <button class="btn btn-primary">GÜNCELLE</button>
        </div>
    }
</div>
<!-- /.container-fluid -->
