@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">QR OLUŞTURMA</h1>
    </div>


    <div class="row">
        <div class="col-8">
            <input class="form-control" type="text" name="menuadresi" id="menuadresi" placeholder="Menu Linki" />
            <br />
            <button class="btn btn-primary" onclick="generateQR()">OLUŞTUR</button>
        </div>
        <div class="col-4">
            <img src="#" alt="QR Image" id="qrCodeImage" />
            <hr />
            <a class="btn btn-warning" id="downloadLink" download="qrcode.png">İNDİR</a>
        </div>
    </div>


</div>
<!-- /.container-fluid -->

<script>
    function generateQR() {
        var menuLink = document.getElementById("menuadresi").value;
        var qrCodeImage = document.getElementById("qrCodeImage");
        var downloadLink = document.getElementById("downloadLink");

        var qrCodeImageUrl = "https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=" + menuLink;
        qrCodeImage.src = qrCodeImageUrl;

        downloadLink.href = qrCodeImageUrl;
        downloadLink.target = "_blank";
        downloadLink.style.display = "block";
        console.log("QR Code URL:", qrCodeImageUrl);
        console.log("Image Source:", qrCodeImage.src);
        console.log("Download Link Href:", downloadLink.href);


    }

</script>
